# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
build/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/app/.cxx/
.cxx\
android/app/.cxx/cmake/debug/arm64-v8a/.ninja_deps
android/app/.cxx/cmake/debug/arm64-v8a/.ninja_log
android/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build.json
android/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_VuforiaSample_arm64-v8a.command.txt
android/app/.cxx/cmake/debug/arm64-v8a/android_gradle_build_VuforiaSample_arm64-v8a.stdout.txt
android/app/.cxx/cmake/debug/arm64-v8a/build_command.txt
android/app/.cxx/cmake/debug/arm64-v8a/build.ninja
android/app/.cxx/cmake/debug/arm64-v8a/build_model.json
android/app/.cxx/cmake/debug/arm64-v8a/build_output.txt
android/app/.cxx/cmake/debug/arm64-v8a/cmake_install.cmake
android/app/.cxx/cmake/debug/arm64-v8a/cmake_server_log.txt
android/app/.cxx/cmake/debug/arm64-v8a/CMakeCache.txt
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/CMakeOutput.log
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/feature_tests.bin
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/VuforiaSample.dir/GLESRenderer.cpp.o
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/VuforiaSample.dir/GLESUtils.cpp.o
android/app/.cxx/cmake/debug/arm64-v8a/CMakeFiles/VuforiaSample.dir/VuforiaWrapper.cpp.o
android/app/.cxx/cmake/debug/arm64-v8a/compile_commands.json
android/app/.cxx/cmake/debug/arm64-v8a/json_generation_record.json
android/app/.cxx/cmake/debug/arm64-v8a/prefab_config.json
android/app/.cxx/cmake/debug/arm64-v8a/rules.ninja
android/app/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
android/app/.cxx/cmake/debug/armeabi-v7a/.ninja_log
android/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build.json
android/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_VuforiaSample_armeabi-v7a.command.txt
android/app/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_VuforiaSample_armeabi-v7a.stdout.txt
android/app/.cxx/cmake/debug/armeabi-v7a/build.ninja
android/app/.cxx/cmake/debug/armeabi-v7a/build_command.txt
android/app/.cxx/cmake/debug/armeabi-v7a/build_model.json
android/app/.cxx/cmake/debug/armeabi-v7a/build_output.txt
android/app/.cxx/cmake/debug/armeabi-v7a/cmake_install.cmake
android/app/.cxx/cmake/debug/armeabi-v7a/cmake_server_log.txt
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeCache.txt
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/CMakeOutput.log
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/feature_tests.bin
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/VuforiaSample.dir/GLESRenderer.cpp.o
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/VuforiaSample.dir/GLESUtils.cpp.o
android/app/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/VuforiaSample.dir/VuforiaWrapper.cpp.o
android/app/.cxx/cmake/debug/armeabi-v7a/compile_commands.json
android/app/.cxx/cmake/debug/armeabi-v7a/json_generation_record.json
android/app/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
android/app/.cxx/cmake/debug/armeabi-v7a/rules.ninja
